@tailwind base;
@tailwind components;
@tailwind utilities;

/* Form Inputs */

.form-input {
  @apply appearance-none relative block w-full my-2 px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md;
}

.form-input:focus {
  @apply outline-none ring-indigo-500 border-indigo-500 z-10;
}

.form-input:sm {
  @apply text-sm;
}

/* Buttons */

.btn {
  @apply justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md;
}

.btn:focus {
  @apply outline-none ring-2 ring-offset-2;
}

.btn-primary {
  @apply text-white bg-indigo-600;
}

.btn-primary:focus {
  @apply ring-indigo-500;
}

.btn-primary:hover {
  @apply bg-indigo-700;
}

.btn-success {
  @apply text-white bg-green-600;
}

.btn-success:focus {
  @apply ring-green-500;
}

.btn-success:hover {
  @apply bg-green-700;
}

.btn-danger {
  @apply text-white bg-red-600;
}

.btn-danger:focus {
  @apply ring-red-500;
}

.btn-danger:hover {
  @apply bg-red-700;
}

.btn-outline-primary {
  @apply text-indigo-600 bg-white border border-indigo-600;
}

.btn-outline-primary:focus {
  @apply ring-indigo-200;
}

.btn-outline-primary:hover {
  @apply bg-indigo-100 border-indigo-400;
}

.btn-outline {
  @apply text-gray-600 bg-white border border-gray-900;
}

.btn-outline:focus {
  @apply ring-gray-200;
}

.btn-outline:hover {
  @apply bg-gray-100 border-gray-400;
}

.btn-block {
  @apply w-full group relative flex;
}

.btn-primary-transperent {
  @apply bg-indigo-500;
}

.btn-primary-transperent:hover {
  @apply bg-opacity-75;
}

.btn-sm {
  @apply py-1 px-2;
}

/* Link */
.link {
  @apply font-medium text-indigo-600;
}

.link:hover {
  @apply text-indigo-500;
}
